body{
  text-align: center;
}
input[type = button]{
  color: black;
  padding: 15px 40px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  width:100px;
}
input[type = button]:active{
  background-color: #585858 !important;
}
input[type = text]{
    width:350px;
    padding: 15px 30px;
    font-size: 40px;
    background-color: #000000;
    text-align: right;
    color: white;

}
#contenedor{
  width: 420px;
  margin: 15px auto;
  border: 1px solid;
}
#resultado{
  width: 400px;
  background-color: #FF8000;
}
.operadores{
  background-color: #FF8000;
}
.numeros{
  background-color: #E6E6E6;
}
