body{
  text-align: center;
}
input[type = button]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}
#resultado{
    width:103px;
    padding: 15px 90px;
}
input[type = text]{
    width:250px;
    padding: 15px 32px;
    font-size: 16px;

}
#contenedor{
  width: 960px;
  margin: 15px auto;
}
